<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)" GeneratedClassNamespace="IODManager.Properties" GeneratedClassName="Settings">
  <Profiles />
  <Settings>
    <Setting Name="DBServer" Type="System.String" Scope="User">
      <Value Profile="(Default)" />
    </Setting>
    <Setting Name="DBName" Type="System.String" Scope="User">
      <Value Profile="(Default)">IODManager</Value>
    </Setting>
    <Setting Name="DBServerIPAdres" Type="System.String" Scope="User">
      <Value Profile="(Default)" />
    </Setting>
    <Setting Name="DBServerTCPPort" Type="System.Int32" Scope="User">
      <Value Profile="(Default)">1433</Value>
    </Setting>
    <Setting Name="DBHost" Type="System.String" Scope="User">
      <Value Profile="(Default)">jarwru\\sqlexpress</Value>
    </Setting>
    <Setting Name="DBInstance" Type="System.String" Scope="User">
      <Value Profile="(Default)" />
    </Setting>
    <Setting Name="DBProvider" Type="System.String" Scope="User">
      <Value Profile="(Default)" />
    </Setting>
    <Setting Name="DBUser" Type="System.String" Scope="User">
      <Value Profile="(Default)">Wito</Value>
    </Setting>
    <Setting Name="DBPassword" Type="System.String" Scope="User">
      <Value Profile="(Default)">64Witko++</Value>
    </Setting>
  </Settings>
</SettingsFile>